<section class="footer">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-6 text-center text-md-left">
            <p class="mb-0"> <br/>
                <b> </b></p>
        </div>
        <div class="col-md-6 text-center text-md-right">
            <div class="social-links">
                <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-pinterest-alt"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-rss"></i></a>
            </div>
        </div>
    </div> 
</section>

<section class="section bg-overlay">

    <div class="container">
        <div class="infos mb-4 mb-md-2">
        <div class="title">
            <h6 class="subtitle font-weight-normal">Are locking for</h6>
            <h5>Lorem inpsum</h5>
            <p class="font-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="socials">
            <div class="row justify-content-between">
                <div class="col">
                    <a class="d-block subtitle"><i class="ti-microphone"></i> Copyright {{currentYear}}</a>
                </div>
                <div class="col">
                    <h6 class="subtitle font-weight-normal mb-1"> Serphp {{version}}  </h6>

                </div>
            </div>
        </div>
    </div> 
    </div>
</section>